#map_canvas
{
    height: 600px;
}

#search
{
    width: 300px;
}

.main_category
{
    margin: 2px;
    margin-right: 5px;
    float: left;
}

.main_category .disabled
{
    opacity:0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /*filter:alpha(opacity=40);*/
}
